/* Estilos generales */

.container {
    margin-top: 20px;
    color: #E57C23;
    
  }
  
  /* Estilos específicos para el equipo */
  
  .team-member {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
  }
  
  /* Otros estilos personalizados... */

  .custom-navbar {
    background-color: #025464; /* Cambia #ffcc00 al color que desees */
  } 

  .custom-navbar-text {
    color: #E57C23; /* Cambia #ffcc00 al color que desees */
  }
  
  